




<h1>Change to:</h1>


<%= form_with scope: :project,:url => {:controller => "project", :action => "update", :id => @project.id}, local: true do |form| %>
  <p>
    <%= form.label :Title %><br>
    <%= form.text_field :Title %>
  </p>

  <p>
    <%= form.label :Description %><br>
    <%= form.text_area :Description%>
  </p>


  <%= form.submit "update"%>
<% end %>
