<h1>Project#view</h1>
<p>Find me in app/views/project/view.html.erb</p>


<%= form_with scope: :project,:url => {:controller => "project", :action => "create"}, local: true do |form| %>
  <p>
    <%= form.label :Title %><br>
    <%= form.text_field :Title %>
  </p>

  <p>
    <%= form.label :Description %><br>
    <%= form.text_area :Description%>
  </p>

  <p>
    <%= form.label "Hours Per Week"%><br>
    <%= form.text_area :HoursPerWeek%>
  </p>

<p>
  <% @skills.each do |skill|%>

  <%= form.label skill[:SkillName]%><br>
  <%= form.check_box skill[:SkillName]%> <br>
    <br>
  <% end %>
</p>

  <p>
    <%= form.label "Weeks needed"%><br>
    <%= form.text_area :WeeksInProject%>
  </p>


  <%= form.submit %>
<% end %>
