
<h1>Listing Projects:</h1>
<%= form_with :url => {:controller => "project", :action => "basic_search"}, local: true do |form| %>
  <p>
    <%= form.label :term %><br>
    <%= form.text_field :term %>
  </p>
  <%= form.submit "Search"%>
<% end %>

  <table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Hours per week required</th>
    <th>Weeks required to complete project</th>
  </tr>

  <% @projects.each do |project| %>
    <tr>
      <td><%= project.Title %></td>
      <td><%= project.Description %></td>
      <td><%= project.HoursPerWeek%></td>
      <td><%= project.WeeksInProject%></td>

      <td> <%= link_to "View ", {:controller => "project", :action => "show", :id => project.id} %>
               </td>

      <td> <%= link_to "Edit ", {:controller => "project", :action => "edit", :id => project.id} %>
      </td>

      <td> <%= form_with :url => {:controller => "project", :action => "destroy",:id => project.id}, local: true do |form| %>
          <%= form.submit "Delete"%>
        <% end %>




      </td>

    </tr>
  <% end %>


</table>


<td> <%= link_to "Create new Project ", {:controller => "project", :action => "new"} %>
