<%= stylesheet_link_tag "showProjects" %>
<body>
<h1>Listing Projects:</h1>
<%= form_with :url => {:controller => "project", :action => "basic_search"}, local: true do |form| %>
  <p>
    <%= form.label :term %><br>
    <%= form.text_field :term %>
  </p>
  <%= form.submit "Search"%>
<% end %>



<% @projects.each do |project| %>

<div class = "projectCard">
<div class = "project">





  <h1> Title:  <%= project.Title %> </h1>
  <h1> Description:  <%= project.Description %> </h1>
  <h1> Hours per week required:  <%=  project.HoursPerWeek %>  </h1>
  <h1> Hours per week required:  <%=  project.WeeksInProject %>  </h1>
<h1> Skills required:</h1>
<h2>
  <% @skills.each do |skill|%>
    <% if project[:SkillsRequired].to_i % skill[:PrimeId].to_i == 0%>
     - <%=  skill.SkillName%>
      <br/>
    <% end%>

  <% end %>
</h2>



      <%= link_to "View ", {:controller => "project", :action => "show", :id => project.id} %>
               </td>

      <%= link_to "Edit ", {:controller => "project", :action => "edit", :id => project.id} %>


      <%= form_with :url => {:controller => "project", :action => "destroy",:id => project.id}, local: true do |form| %>
          <%= form.submit "Delete"%>
        <% end %>

</div>
</div>

<% end %>


</table>


<td> <%= link_to "Create new Project ", {:controller => "project", :action => "new"} %>
</body>