<h1>Project#view</h1>
<p>Find me in app/views/project/view.html.erb</p>


<%= form_with scope: :article, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description%>
  </p>


    <%= form.submit %>
  </p>
<% end %>
